<div class="portlet light bordered">
       <div class="portlet-title">
               <div class="caption font-dark">
           <i class="icon-settings font-dark"></i>
           <span class="caption-subject bold uppercase"> Users</span>
       </div>
    
         <div class="actions">                                                                                               
			    <div class="btn-group">
			     
			      <div class="btn-group btn-group-devided custom-sys-user-padding-right" data-toggle="buttons">
			        <span class="custom-sys-user-width">
			        	<input type="button" onclick="add_admin();"
                        class="btn btn-transparent dark btn-outline btn-circle btn-sm custom-sys-user-width"
                        value="Add User">
                  
			        </span>
                 
               </div>
               <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                   <i class="fa fa-share"></i>
                   <span class="hidden-xs"> Tools </span>
                   <i class="fa fa-angle-down"></i>
               </a>
               <ul class="dropdown-menu pull-right" id="head_admin_tools">
                   <li>
                       <a href="javascript:;" data-action="0" class="tool-action">
                           <i class="icon-printer"></i> Print</a>
                   </li>
                   <li>
                       <a href="javascript:;" data-action="1" class="tool-action">
                           <i class="icon-doc"></i> PDF</a>
                   </li>
                   <li>
                       <a href="javascript:;" data-action="2" class="tool-action">
                           <i class="icon-paper-clip"></i> Excel</a>
                   </li>                  
               </ul>
           </div>
         </div>
     </div>
     <div class="portlet-body">
         <table class="table table-striped table-bordered table-hover" id="head_admin_table">
             <thead>
             <tr>
                 <th> Id</th>
                 <th> Name</th>
                 <th> Contact</th>                                            
                 <th> Email</th>
                 <th> Role</th>
                 <th> Status</th>
                 <th style="text-align:center"> Actions</th>
             </tr>
             </thead>
             
         </table>
     </div>
 </div>
 
 <!-- Counter Payment Modal Begin -->

<div id="edit_admin_modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit H.O. Admin Details</h4></div>
            <div class="modal-body">
                <div class="scroller custom-sys-user-modal-height1" data-always-visible="1" data-rail-visible1="1">
                	  <div class="row">
                	     	<div class="col-md-8">
                            <h4><b>Basic Details </b></h4>
                        </div>
                         <div class="col-md-4 custom-sys-user-margin-top1" >
                            <div class="form-group form-md-line-input has-success">
                            		<label for="bill_cycle">Status : </label>
                                <input type="checkbox" id="update_user_status" class="make-switch" checked data-on-text="<i class='icon-user-following'></i>" data-off-text="<i class='icon-user-unfollow'></i>">                                 
                            </div>
                        </div> 
                        <!-- <div class="col-md-8 custom-sys-user-margin-top1" >
                        <div class="form-group form-md-line-input has-success" style="text-align: right;">
                            		<label for="user_status">Status : </label>
                                <input type="radio" id="update_user_status1" name="update_user_status1" value="Active"> Active
  										  <input type="radio" id="update_user_status2" name="update_user_status2" value="Inactive"> Inactive                                
                            </div>
                            </div> -->
                        <input type="hidden" class="form-control" id="user_id"> 
                	  </div>
                    <div class="row">                    		 
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="user_first_name">
                                <label for="user_first_name">First Name</label>
                            </div>
									<span class="user_first_name_error" style="color:red;"></span> 
                        </div>                        
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="user_last_name">
                                <label for="user_last_name">Last Name</label>
                            </div>
                            <span class="user_last_name_error" style="color:red;"></span> 
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="user_emp_id">
                                <label for="route_code">Employee ID</label>
                            </div>
                            <span class="user_emp_id_error" style="color:red;"></span> 
                        </div>
                        
                    </div>
                    <br>
						  <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input has-success " style="margin-bottom: 0px;">
                                <textarea class="form-control" id="user_address" ></textarea>
                                <label >Address</label>
                            </div>
                            <span class="user_address_error" style="color:red;"></span> 
                        </div>
                    </div>        
                    <br>    
                    <div class="row">                    		                                               
                        <div class="col-md-4 custom-sys-user-margin-top2">
	                      <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
	                          <select id="user_city" class="form-control input-sm select2-multiple" onchange="get_branch_list();">
												<option value=" "> Select City</option>                                       
                                    {% for city in city_list %}                                  		
	                                  <option value="{{ city.city }}"> {{ city.city }}</option>
	                                  {% endfor %}
                             </select>
	                          <label for="consumer_zone">City</label>
	                      </div>	
	                      <span class="user_city_error" style="color:red;"></span>                       
                    		</div>
                        
                         <div class="col-md-4">
	                      	<div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <select id="user_role" class="form-control input-sm select2-multiple custom-sys-user-margin-top2" onchange="check_edit_branch_data();">
                                  <option value=" "> Select Role</option>
                                   {% for role in role_list %}                                  		
                                  <option value="{{ role.role }}"> {{ role.role }}</option>
                                  {% endfor %}
                             		</select>
											<label for="city">Role</label>
                            </div>
                            <span class="user_role_error" style="color:red;"></span> 	                      
                    		</div>
                    		<div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
	                          <select id="user_branch_name" class="form-control input-sm select2-multiple custom-sys-user-margin-top2">
                                  <option value=" "> Select Branch</option>  
                                  {% for branch in branch_list %}                                  		
                                  <option value="{{ branch.branch }}"> {{ branch.branch }}</option>
                                  {% endfor %}                                
                             </select>
	                          <label for="city">Branch</label>
	                      	</div>
									<span class="user_branch_name_error" style="color:red;" ></span>	
                        </div>
                    </div>   
                    <br>                     
                    <div class="row">
                    		<div class="col-md-6">
                            <h4><b>Contact Details :</b></h4>
                        </div>
                        <div class="col-md-6">
                            <h4><b>Reset Password :</b></h4>
                        </div>  
                    </div>
                    <div class="row">
                    		<div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="user_contact_no">
                                <label for="user_contact_no">Contact No.</label>
                            </div>
                            <span class="user_contact_no_error" style="color:red;"></span> 
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="password" class="form-control"  id="user_pass" >
                                <label for="bill_cycle">Password</label>
                            </div>
                            <span class="user_password_error" style="color:red;"></span> 
                        </div>
                    </div>
							<br>                       
                      <div class="row">                
                        
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="user_email">
                                <label for="user_email">Email Id</label>
                            </div>
                            <span class="user_email_error" style="color:red;"></span> 
                        </div>                                                                                   
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="password" class="form-control"  id="user_re_pass" >
                                <label for="route_code">Retype Password</label>
                            </div>
                            <span class="user_re_password_error" style="color:red;"></span> 
                        </div>                        
                    </div>                                                     
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                <button onclick="update_head_admin_details();" type="button" class="btn dark btn-outline">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="add_admin_model" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add User</h4></div>
            <div class="modal-body">
            	<div id="clear_div">
                <div class="scroller custom-sys-user-modal-height1" data-always-visible="1" data-rail-visible1="1">
                	 <div class="row">
                	 		<div class="col-md-8">
                            <h4><b>Basic Details :</b></h4>
                        </div>
								<div class="col-md-4 custom-sys-user-margin-top1">
                            <div class="form-group form-md-line-input has-success" style="text-align: right;">
                            		<label for="user_status">Status : </label>
                                 <input type="checkbox" id="user_status" class="make-switch" checked="" data-on-text="<i class='icon-user-following'></i>" data-off-text="<i class='icon-user-unfollow'></i>">
                                <!-- <input type="radio" id="user_status1" name="user_status" value="Active" checked> Active
  										  <input type="radio" id="user_status2" name="user_status" value="Inactive"> Inactive  -->                               
                            </div>
                        </div>
                    </div>                     
                    <div class="row">                    		
                        <div class="col-md-4">                        
                            <div class="form-group form-md-line-input has-success " style="margin-bottom: 0px;">                            	   
                                <input type="text" class="form-control" id="fname">
                                <label for="fname">First Name</label>                                                                                                                             
                            </div>        
                            <span class="first_name_error" style="color:red;"></span>  
                        </div>                        
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="lname">
                                <label for="route_code">Last Name</label>                                                                 
                            </div>
                            <span class="last_name_error" style="color:red;"></span> 

                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="employee_ID">
                                <label for="employee_id">Employee ID</label>
                            </div>
                            <span class="employee_id_error" style="color:red;"></span>
                        </div>
                         
                    </div>
                    <br>
						  <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input has-success " style="margin-bottom: 0px;">
                                <textarea class="form-control" id="address" ></textarea>
                                <label >Address</label>
                                
                            </div>
                            <span class="address_error" style="color:red;"></span>
                        </div>
                    </div>
                    <br>                                         
                    <div class="row">                    		                                               
                        <div class="col-md-4 custom-sys-user-margin-top2">
	                      <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
	                          <select id="city" class="form-control input-sm select2-multiple" onchange="get_branch();">
                                    <option value=" "> Select City</option> 
	                                  {% for city in city_list %}                                  		
	                                  <option value="{{ city.city }}"> {{ city.city }}</option>
	                                  {% endfor %}
                             </select>
	                          <label for="city">City</label>	                          
	                      </div>	                      
	                      <span class="city_error" style="color:red;" ></span>
                    		</div>
                        
                         <div class="col-md-4">
	                      	<div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">                                
                                <select id="role" class="form-control input-sm select2-multiple custom-sys-user-margin-top2" onchange="check_branch_data();">
                                  <option value=" "> Select Role</option>
                                   {% for role in role_list %}                                  		
                                  <option value="{{ role.role }}"> {{ role.role }}</option>
                                  {% endfor %}
                             </select>
                             <label for="city">Role</label>
                            </div>
                            <span class="role_error" style="color:red;" ></span>		                      
                    		</div>
                    		<div class="col-md-4">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
	                          <select id="branch_name" class="form-control input-sm select2-multiple custom-sys-user-margin-top2">
                                  <option value=" "> Select Branch</option>                                  
                             </select>
	                          <label for="city">Branch</label>
	                      	</div>
									<span class="branch_name_error" style="color:red;" ></span>	
                        </div>
                    </div>            
							<br>
                    <div class="row">
                    		<div class="col-md-6">
                            <h4><b>Contact Details :</b></h4>
                        </div>
                   
                        <div class="col-md-6">
                            <h4><b>Set Password :</b></h4>
                        </div>            
                     </div> 
                    <div class="row">                    
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="contact_no">
                                <label for="contact_no">Contact No.</label>
                            </div>
                            <span class="contact_no_error" style="color:red;"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="password" class="form-control" id="password" >
                                <label for="password">Password</label>
                            </div>
                            <span class="password_error" style="color:red;"></span>
                        </div>  								   
                     </div>    
                     <br>                      
                     <div class="row">          
                         <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="text" class="form-control" id="email">
                                <label for="email">Email Id</label>
                            </div>
                            <span class="email_error" style="color:red;"></span>
                        </div>                                                         
                         <div class="col-md-6">
                            <div class="form-group form-md-line-input has-success" style="margin-bottom: 0px;">
                                <input type="password" class="form-control" id="re_password" >
                                <label for="re_password">Retype Password</label>                                
                            </div>
                            <span class="re_password_error" style="color:red;"></span>
                        </div>                        
                    </div>                                                                 
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                <button type="button" onclick="save_head_admin_details();" class="btn dark btn-outline">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade draggable-modal" id="success_modal" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-body">
                <form action="index.html" class="form-horizontal form-row-seperated">
                    <div class="form-body">
                        <h4 class="text-center">System User added successfully</h4>
                    </div>
                    <div style="text-align:center !important;" class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">OK</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="success_update_modal" role="basic" aria-hidden="true">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content">
            <div class="modal-body">
                <form action="index.html" class="form-horizontal form-row-seperated">
                    <div class="form-body">
                        <h4 class="text-center">System User updated successfully</h4>
                    </div>
                    <div style="text-align:center !important;" class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">OK</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade draggable-modal" id="error-modal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="index.html" class="form-horizontal form-row-seperated">
                    <div class="form-body">
                        <h4 class="text-center">System User already exists</h4>
                    </div>
                    <div style="text-align:center !important;" class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">OK</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Payment Modal End -->