<!DOCTYPE html>

<html lang="en">
<!-- BEGIN HEAD -->
{% load staticfiles %}
<head>
    <meta charset="utf-8"/>
    <title> Quick Pay | Bynry</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/pages/css/profile.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout3/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout3/css/themes/default.min.css' %}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{% static 'assets/layouts/layout3/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-boxed">
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img style="width: 101px; margin-top: 9px"
                         src="{% static 'assets/layouts/layout3/img/Bynry_small_black-logo.png' %}" alt="logo"
                         class="logo-default">
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                {% if request.session.login_user %}
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle" src="{{request.session.profile_image}}" style="width: 45px;">
                                <span class="username username-hide-mobile">{{request.session.login_user}} ({{request.session.consumer_no}})</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                             <li>
                               <a href="/self-service/my-profile/">
                                 <i class="icon-user"></i> My Profile </a>
                         	  </li>                              
                                <li>
                                  <a href="/self-service/manage-accounts/">
                                    <i class="icon-user"></i> Manage Account </a>
                            	  </li>
                                <li>
                                    <a href="/self-service/logout/">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {%else%}
                    <ul class="nav navbar-nav pull-right">
                	   <li>
                          <a class="nav navbar-nav" href="/self-service/login/">
                          <i class="icon-login"></i>  Login </a> 
						   </li>
						   <li style="padding-left: 10px;">			                    
                         <a class="nav navbar-nav " href="/self-service/register-new-user/">
                         <i class="fa fa-user-plus"></i>  Sign Up </a>
                     </li>
                    </ul> 
                {% endif %}
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu  ">
                {% include 'self_service/side-panel.html' %}
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Quick Pay
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="/self-service/">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Quick Pay</span>
                    </li>
                </ul>
                <div class="page-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light ">
                                            <div class="portlet-body">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Quick Pay</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <label for="consumer_number">Consumer No. <span
                                                                        class="required"> *  </span>
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       id="consumer_number"
                                                                       name="consumer_number">
                                                                <span id="error_consumer_number" class="error"
                                                                      style="color:red; display:none;">Please enter Consumer No.</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <label for="consumer_type">Consumer Type<span
                                                                        class="required"> *</span></label>
                                                                <select id="consumer_type"
                                                                        class="form-control input-sm select2-multiple">
                                                                    <option value=""> Select Consumer Type</option>
                                                                    <option value="1-LT-SUPPLY">1-LT-SUPPLY</option>
                                                                    <option value="2-HT-SUPPLY">2-HT-SUPPLY</option>
                                                                    <option value="3-EHV">3-EHV</option>
                                                                </select>
                                                                <span id="error_consumer_type" class="error"
                                                                      style="color:red; display:none;">Please select Consumer Type</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-success">
                                                                <label for="bill_cycle">Bill Cycle<span
                                                                        class="required"> *</span></label>
                                                                <select id="bill_cycle"
                                                                        class="form-control input-sm select2-multiple">
                                                                    <option value=""> Select Bill Cycle</option>
                                                                    {% for bill_cycle in bill_cycle_list %}
                                                                        <option value="{{bill_cycle.bill_cycle_id}}"> {{ bill_cycle.bill_cycle_code }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                                <span id="error_bill_cycle" class="error"
                                                                       style="color:red; display:none;">Please select Bill Cycle</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3"
                                                             style="text-align: right; margin-top: 48px;">
                                                            <button type="button"
                                                                    class="btn btn-transparent dark btn-outline btn-circle btn-sm"
                                                                    onclick="search_bill()" style="width: 89px;">
                                                                Submit
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-transparent dark btn-outline btn-circle btn-sm"
                                                                    onclick="clear_search()" style="width: 89px;">
                                                                Clear
                                                            </button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span id="error_bill_data" class="error"
                                                                style="color:red; display:none;">No record found</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet light display-none" id="bill_details_div">
                                            <div class="portlet-body">
                                                <div class="caption caption-md">
                                                        <i class="icon-globe theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Bill Details</span>
                                                    </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="con_number">Consumer Number </label>
                                                                <input type="text" class="form-control"
                                                                       id="con_number" readonly
                                                                       name="con_number">
                                                                <label id="con_number_error" class="error"
                                                                       style="color:red; display:none; font-size: 12px;"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="con_name">Consumer
                                                                    Name </label>
                                                                <input type="text" class="form-control"
                                                                       id="con_name" readonly
                                                                       name="con_name">
                                                                <label class="error"
                                                                       style="color:red; display:none; font-size: 12px;"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="con_bill_cycle">Bill Cycle</label>
                                                                <input type="text" class="form-control"
                                                                       id="con_bill_cycle" readonly
                                                                       name="con_bill_cycle">
                                                                <label class="error"
                                                                       style="color:red; display:none; font-size: 12px;"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="con_bill_month">Bill Month </label>
                                                                <input type="text" class="form-control"
                                                                       id="con_bill_month" readonly
                                                                       name="con_bill_month">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="current_amount">Current Amount </label>
                                                                <input type="text" class="form-control"
                                                                       id="current_amount" readonly
                                                                       name="current_amount">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="prev_due">Previous Due
                                                                    <small>(Arrears)</small>
                                                                </label>
                                                                <input type="text" class="form-control"
                                                                       id="prev_due" readonly
                                                                       name="prev_due">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="net_amount">Net Amount </label>
                                                                <input type="text" class="form-control"
                                                                       id="net_amount" readonly
                                                                       name="net_amount">
                                                                <label class="error"
                                                                       style="color:red; display:none; font-size: 12px;"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="due_date">Due Date </label>
                                                                <input type="text" class="form-control"
                                                                       id="due_date" readonly
                                                                       name="due_date">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="prompt_date">Prompt Date </label>
                                                                <input type="text" class="form-control"
                                                                       id="prompt_date" readonly
                                                                       name="prompt_date">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group form-md-line-input has-info">
                                                                <label for="prompt_amount">Prompt Amount </label>
                                                                <input type="text" class="form-control"
                                                                       id="prompt_amount" readonly
                                                                       name="prompt_amount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: right;">
                                                        <a type="button" target="_blank"
                                                                class="btn btn-transparent dark btn-outline btn-circle btn-sm"
                                                                onclick="view_bill()" style="width: 89px;">
                                                            View & Pay
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
</div>
<!-- END PAGE CONTENT BODY -->
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container"> 2017 &copy; Bynry Technologies India Pvt. Ltd.
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/profile.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout3/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout3/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script>
    $("#quick_pay").addClass("active");

    function search_bill(){
        if(validate_bill_data()){
            $.ajax({
                type: 'GET',
                url: '/self-service/get-consumer-bill-data/',
                data: {
                    'consumer_number': $("#consumer_number").val(),
                    'consumer_type': $("#consumer_type").val(),
                    'bill_cycle': $("#bill_cycle").val(),
                },
                success: function (response) {
                console.log(response);
                    if (response.success == 'true') {
                        $('#con_number').val(response.con_number);
                        $('#con_name').val(response.con_name);
                        $('#con_bill_cycle').val(response.con_bill_cycle);
                        $('#con_bill_month').val(response.con_bill_month);
                        $('#current_amount').val(response.current_amount);
                        $('#prev_due').val(response.prev_due);
                        $('#net_amount').val(response.net_amount);
                        $('#due_date').val(response.due_date);
                        $('#prompt_date').val(response.prompt_date);
                        $('#prompt_amount').val(response.prompt_amount);
                        $("#error_bill_data").css("display","none");
                        $("#bill_details_div").removeClass("display-none");
                    }
                    if (response.success == 'no bill') {
                        $("#bill_details_div").addClass("display-none");
                        $("#error_bill_data").text("No pending bills");
                        $("#error_bill_data").css("display","block");
                    }
                    if (response.success == 'false') {
                        $("#bill_details_div").addClass("display-none");
                        $("#error_bill_data").text("No record found");
                        $("#error_bill_data").css("display","block");
                    }
                },
                error: function (response) {
                    $("#bill_details_div").addClass("display-none");
                },
            });

        }
        else{
            $("#bill_details_div").addClass("display-none");
        }
    }

    function clear_search(){
        $("#consumer_number").val("");
        $("#consumer_type").val("").change();
        $("#bill_cycle").val("").change();
        $(".error").css("display","none");
        $("#error_bill_data").css("display","none");
        $("#bill_details_div").addClass("display-none");
    }

    function validate_bill_data() {
        if(validate_data("consumer_number","error_consumer_number") & validate_data("consumer_type","error_consumer_type") & validate_data("bill_cycle","error_bill_cycle")){
            return true;
        }
    }

    function validate_data(id,error) {
	 	if ($("#"+id).val()) {
            $("#"+error).css("display","none");
			return true;
		}
		else {
			$("#"+error).css("display","block");
            $("#"+error).css("color","red");
			return false;
		}
	}

	function view_bill(){
	    window.open("/self-service/view-bill/?consumer_no="+$("#consumer_number").val(), "_blank");
	}

</script>
</body>

</html>