<ul class="nav navbar-nav">
    <li id="home_page">
        <a href="/self-service/" class="nav-link  active">
            Home
        </a>
    </li>
    <!-- <li id="quick_pay">
        <a href="/self-service/quick-pay/" class="nav-link  active">
            Quick Pay
        </a>
    </li> -->
    {% if request.session.login_user %}
    <li id="my_bills">
        <a href="/self-service/my-bills/" class="nav-link  active">
            My Bill
        </a>
    </li>
    
    <li id="services">
        <a href="/self-service/services/" class="nav-link  active">
            Services
        </a>
    </li>
    <li id="complaints">
        <a href="/self-service/complaints/" class="nav-link  active">
            Complaints
        </a>
    </li>
   <!--  <li id="vigilance">
        <a href="/self-service/vigilance/" class="nav-link  active">
            Vigilance
        </a>
    </li> -->
    {% endif %}
    <li id="contact_us">
        <a href="/self-service/contact-us/" class="nav-link  active">
            Contact Us
        </a>
    </li>
    <li id="faqs">
        <a href="/self-service/FAQS/" class="nav-link  active">
            FAQ's
        </a>
    </li>
</ul>
      
