<!DOCTYPE html>

<html lang="en">

{% load staticfiles %}
<head>
    <meta charset="utf-8"/>
    <title>Services | Bynry</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout/css/themes/darkblue.min.css' %}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{% static 'assets/layouts/layout/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-closed">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="index.html">
                <img src="{% static 'assets/layouts/layout/img/logo.png' %}" alt="logo" class="logo-default"/> </a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <img alt="" class="img-circle"
                             src="{% static 'assets/layouts/layout/img/avatar3_small.jpg' %}"/>
                        <span class="username username-hide-on-mobile"> swapnil@bynry.com </span>
                    </a>                    
                </li>                        
                <li title="Log Out" class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="javascript:;" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            {% include 'side-panel.html' %}
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->

            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="#">Consumers</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Services</span>
                    </li>
                </ul>
            </div>

            <br>
            <div class="col-md-12" style="background: #fff; margin-bottom: 20px; padding: 15px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Type</label>
                            <select class="form-control select2">
                                <option>Select a Service Type</option>
                                <option>Service Type 1</option>
                                <option>Complaint Type 2</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Status</label>
                            <select class="form-control select2">
                                <option>Select a Service Status</option>
                                <option>Service Status 1</option>
                                <option>Service Status 2</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Source</label>
                            <select class="form-control select2">
                                <option>Select a Source</option>
                                <option>Source 1</option>
                                <option>Source 2</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Zone</label>
                            <select class="form-control select2">
                                <option value="AK">Alaska</option>
                                <option value="HI" disabled="disabled">Hawaii</option>
                                <option value="CT">Connecticut</option>
                                <option value="MD">Maryland</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Bill Cycle</label>
                            <select class="form-control select2">
                                <option value="AK">Alaska</option>
                                <option value="CA">California</option>
                                <option value="NV">Nevada</option>
                                <option value="AZ">Arizona</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Route</label>
                            <select class="form-control select2">
                                <option value="AK">Alaska</option>
                                <option value="HI" disabled="disabled">Hawaii</option>
                                <option value="CA">California</option>
                                <option value="WA">Washington</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label class="control-label ">Raised on Date</label>
                                <div class="">
                                    <div class="input-group input-large date-picker input-daterange"
                                         data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                        <input type="text" class="form-control" placeholder="Start Date" name="from">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" placeholder="End Date" name="to">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-transparent dark btn-outline btn-circle btn-sm "
                                   style="margin-top: 27px;" value="Search">
                            <input type="button" class="btn btn-transparent dark btn-outline btn-circle btn-sm "
                                   style="margin-top: 27px;float:right;" value="Clear Filters">
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-12">-->
                    <!--<div class="row" style="margin-top: 48px;text-align: center;">-->
                        <!--<div class="col-md-4" style="border-right: 1px solid black;">-->
                            <!--<h4 class="control-label">Total</h4>-->
                            <!--<h4 class="control-label">3000</h4>-->
                        <!--</div>-->
                        <!--<div class="col-md-4" >-->
                            <!--<h4 class="control-label">Open</h4>-->
                            <!--<h4 class="control-label" >200</h4>-->
                        <!--</div>-->
                        <!--<div class="col-md-4" style="border-left: 1px solid black;">-->
                            <!--<h4 class="control-label">Closed</h4>-->
                            <!--<h4 class="control-label" >2800</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase">Services</span>
                            </div>
                            <div class="caption font-dark" style="margin-left:3%;">
                                <h4 class="control-label">Total : 3000  |   Open : 200   |    Closed : 2800</h4>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-header-fixed"
                                   id="service_table">
                                <thead>
                                <tr>
                                    <th> Requested Id</th>
                                    <th> Type</th>
                                    <th> Requested on</th>
                                    <th> Consumer No.</th>
                                    <th> Name</th>
                                    <th> Source </th>
                                    <th> Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012345</a></td>
                                    <td> Service Type 1</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012344</a></td>
                                    <td> Service Type 2</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012346</a></td>
                                    <td> Service Type 1</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012347</a></td>
                                    <td> Service Type 2</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012348</a></td>
                                    <td> Service Type 1</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>
                                <tr>
                                    <td> <a href="#complaint_details" data-toggle="modal">1012349</a></td>
                                    <td> Service Type 2</td>
                                    <td> 23/01/2017</td>
                                    <td> <a href="#consumer_details" data-toggle="modal">201123</a></td>
                                    <td> Vikas Kumawat</td>
                                    <td> Source 1</td>
                                    <td> Open</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!--  Models Start -->
<div id="complaint_details" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Service Requested Details</h4></div>
            <div class="modal-body">
                <div class="scroller" style="height:240px;" data-always-visible="1" data-rail-visible1="1">
                    <!--<h4 style="font-weight:500">Consumer Details</h4>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group form-md-line-input has-info">-->
                                <!--<input type="text" class="form-control" readonly="" value="201123" id="service_consumer_no">-->
                                <!--<label for="service_consumer_no">Consumer No</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group form-md-line-input has-info">-->
                                <!--<input type="text" class="form-control" readonly="" value="Vikas Kumawat" id="service_consumer_name">-->
                                <!--<label for="service_consumer_name">Consumer Name</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group form-md-line-input has-info">-->
                                <!--<input type="text" class="form-control" readonly="" value="vikas@bynry.com" id="consumer_email_id">-->
                                <!--<label for="consumer_email_id">Email Id</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group form-md-line-input has-info">-->
                                <!--<input type="text" class="form-control" readonly="" value="Source 1" id="service_source">-->
                                <!--<label for="service_source">Source</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="form-group form-md-line-input has-info ">-->
                                <!--<textarea class="form-control" readonly id="service_consumer_address" rows="2">Flat no-201, Primrose, right bhusari colony, oppo. borse hospital, kothrud, pune - 411038.</textarea>-->
                                <!--<label >Address</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <h4><b>Vikas Kumawat (201546)</b></h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input has-info ">
                                <textarea class="form-control" readonly id="service_details" rows="4"></textarea>
                                <label >Service Request</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="5862001" id="request_id">
                                <label for="request_id">Request Id</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="Requested type 1" id="request_type">
                                <label for="request_type">Request Type</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Models End -->
<!--  Models Start -->
<div id="consumer_details" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Consumer Details</h4></div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="5862001" id="bill_cycle">
                                <label for="bill_cycle">Bill Cycle Code</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="253140" id="route_code">
                                <label for="route_code">Route Code</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="Pimpri Chinchwad D-zone" id="consumer_zone">
                                <label for="consumer_zone">Zone</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="Pune" id="consumer_city">
                                <label for="consumer_city">City</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="201123" id="consumer_no">
                                <label for="consumer_no">Consumer No</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input has-info">
                                <input type="text" class="form-control" readonly="" value="Vikas Kumawat" id="consumer_name">
                                <label for="consumer_name">Consumer Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input has-info ">
                                <textarea class="form-control" readonly id="consumer_address" >Flat no-201, Primrose, right bhusari colony, oppo. borse hospital, kothrud, pune - 411038.</textarea>
                                <label >Address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Models End -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2017 © Bynry Technologies Pvt. Ltd.           
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!--<script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>-->
<script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>-->
<!-- END THEME LAYOUT SCRIPTS -->

<script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/clockface/js/clockface.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>

<script>

    $("#consumer_anchor").prepend('<span class="selected"></span>');
    $("#consumer_menu").addClass("active open");
    $("#consumer_span").addClass("open");
    $("#service_list").addClass("active open");

    var initTable1 = function () {
        var table = $('#service_table');

        var fixedHeaderOffset = 0;
        if (App.getViewPort().width < App.getResponsiveBreakpoint('md')) {
            if ($('.page-header').hasClass('page-header-fixed-mobile')) {
                fixedHeaderOffset = $('.page-header').outerHeight(true);
            }
        } else if ($('.page-header').hasClass('navbar-fixed-top')) {
            fixedHeaderOffset = $('.page-header').outerHeight(true);
        }

        var oTable = table.dataTable({

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            // setup rowreorder extension: http://datatables.net/extensions/fixedheader/
            fixedHeader: {
                header: true,
                headerOffset: fixedHeaderOffset
            },

            "order": [
                [0, 'asc']
            ],

            buttons: [
                { extend: 'pdf', className: 'btn green btn-outline' },
                { extend: 'excel', className: 'btn yellow btn-outline ' },
            ],

            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 20,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
      });
    }

    initTable1();
</script>

</body>

</html>