{% load staticfiles %}


<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false"
    data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler"></div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li id="dashboard" class="nav-item ">
        <a id="dashboard_anchor" href="/dashboard/" class="nav-link nav-toggle"><span class="selected"></span>
            <i class="icon-bar-chart"></i>
            <span class="title">Dashboard</span>
            <span id="dashboard_span" class="arrow"></span>
        </a>
    </li>


    <li id="consumer_menu" class="nav-item  ">
        <a id="consumer_anchor" href="javascript:;" class="nav-link nav-toggle"><span class="selected"></span>
            <i class="icon-briefcase"></i>
            <span class="title">Consumers</span>
            <span id="consumer_span" class="arrow"></span>
        </a>

        <ul class="sub-menu">
            <li id="consumer_list" class="nav-item ">
                <a href="/consumerapp/consumer-list/" class="nav-link "> Consumers List </a>
            </li>
            <li id="payment_list" class="nav-item">
                <a href="/payments/" class="nav-link "> Payments </a>
            </li>
            <li id="complaint_list" class="nav-item  ">
                <a href="/complaintapp/" class="nav-link "> Complaints </a>
            </li>
            <li id="service_list" class="nav-item ">
                <a href="/services/" class="nav-link "> Services </a>
            </li>
            <li id="vigilance_list" class="nav-item  ">
                <a href="/vigilance-cases/" class="nav-link "> Vigilance Cases </a>
            </li>

        </ul>
    </li>
</ul>
