<!DOCTYPE html>

<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8"/>
    <title>Home | CTI CRM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{% static 'assets/layouts/layout3/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/layouts/layout3/css/themes/default.min.css' %}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="{% static 'assets/layouts/layout3/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <style>
        .feature-item {
            margin-top: 50px;

        }

        .feature-item > i {
            font-size: 30px;
            line-height: 80px !important;
            height: 80px;
            width: 80px;
            padding: 0;
            border-radius: 50%;
            border: 2px solid #999;
        }

        .feature-item .desc {
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
            color: #999;
        }

        .box-text {
            color: #999;
        }

        h3 {
            color: #000;
        }

        .page-header {
            opacity: 1;
            filter: alpha(opacity=100);
            width: 100%;
            margin: 0;
            border: 0;
            padding: 0;
            height: 75px;
            background-image: none;
        }


    </style>

</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-boxed">

<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="page-content-inner">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="portlet light">

                                <div class="row" id="div11">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <a onclick="registered_consumer();" class="box-text">
                                                <div class="feature-item col-xs-offset-3 col-xs-3 text-center">
                                                    <i class="icon-user"></i>

                                                    <h3>Registered </h3>
                                                </div>
                                            </a>
                                            <a onclick="new_consumer();" class="box-text">
                                                <div class="feature-item col-xs-3 text-center">
                                                    <i class="icon-user"></i>

                                                    <h3>Unregistered </h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                            
                            <div class="row" id="div1" style="display:none">
                                <div class="col-xs-12">
                                    <div class="col-xs-offset-2 col-xs-3">
                                        <div class="form-group form-xs-line-input has-success">
                                            <label for="bill_city">City<span
                                                    class="required"> *</span></label>
                                            <select id="verify_city" class="form-control input-sm select2-multiple">
                                                <option value=" "> Select City</option>
                                                {% for city in city_list %}
                                                    <option value="{{ city.city_id }}"> {{ city.city }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="error"
                                                  style="color:red; display:none; font-size: 12px;"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-xs-line-input has-success">
                                            <label for="applicant_aadhar_no">Consumer No <span
                                                    class="required"> *  </span> </label>
                                            <input type="text" class="form-control" id="verify_consumer_no"
                                                   name="verify_consumer_no">
	                                            <span id="verify_consumer_no_error" class="error"
                                                      style="color:red; display:none; font-size: 12px;"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-2" style="text-align: right;margin-top: 27px;">
                                        <button type="button"
                                                class="btn btn-transparent dark btn-outline btn-circle btn-sm"
                                                style="width: 89px;" onclick="verify_consumer();">
                                            Verify
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="row" id="div2" style="display:none">
                                <div class=" portlet light bordered"
                                     style="height: 140px !important;">
                                    <div class="portlet-body">
                                        <div class="row" style="margin-top: -15px;!important">
                                            <div class="col-xs-12">
                                                <br>

                                                <div class="col-xs-11">
                                                    <label class="bold">Consumer Details :</label>
                                                </div>
                                                <div class="col-xs-1">
                                                    <a style="text-align:right;" href="/cti-crm/">Back</a>
                                                </div>
                                                <br>
                                                <br>

                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-info">
                                                            <label>Consumer No. :</label>
                                                            <input type="text" id="c_no" class="form-control" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-info">
                                                            <label>Consumer Name :</label>
                                                            <input type="text" id="c_name" class="form-control"
                                                                   readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-info">
                                                            <label>Mobile No. :</label>
                                                            <input type="text" id="c_mobile_no" class="form-control"
                                                                   readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-info">
                                                            <label>Email :</label>
                                                            <input type="text" id="c_email" class="form-control"
                                                                   readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="div6" style="display:none">
                                <div class=" portlet light bordered"
                                     style="height: 162px !important;">
                                    <div class="portlet-body">
                                        <div class="row" style="margin-top: -15px;!important">
                                            <div class="col-xs-12">
                                                <br>

                                                <div class="col-xs-10">
                                                    <label class="bold">Consumer Details :</label>
                                                </div>
                                                <div class="col-xs-1">
                                                    <a style="text-align:left;" href="/cti-crm/">Back</a>
                                                </div>
                                                <div id="save_btn" class="col-xs-1">
                                                    <a style="text-align:right;" onclick="save_new_consumer();">Save</a>
                                                </div>
                                                <br>
                                                <br>

                                                <div class="col-xs-3">
                                                    <div class="form-group form-xs-line-input has-success">
                                                        <label for="bill_city">City<span
                                                                class="required"> *</span></label>
                                                        <select id="new_city"
                                                                class="form-control input-sm select2-multiple">
                                                            <option value=" "> Select City</option>
                                                            {% for city in city_list %}
                                                                <option value="{{ city.city_id }}"> {{ city.city }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <span id="new_city_error" class="error"
                                                              style="color:red; font-size: 12px;"></span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-success"
                                                             style="margin-bottom: 0px;">
                                                            <label>Consumer Name :</label>
                                                            <input id="new_cname" type="text" class="form-control">
                                                        </div>
                                                        <span id="new_cname_error" class="error"
                                                              style="color:red; font-size: 12px;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-success"
                                                             style="margin-bottom: 0px;">
                                                            <label>Mobile No. :</label>
                                                            <input id="new_cmobile_no" type="text" class="form-control">
                                                        </div>
                                                        <span id="new_cmobile_no_error" class="error"
                                                              style="color:red; font-size: 12px;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="form-group">
                                                        <div class="form-group form-xs-line-input has-success"
                                                             style="margin-bottom: 0px;">
                                                            <label>Email :</label>
                                                            <input id="new_cemail_id" type="text" class="form-control">
                                                        </div>
                                                        <span id="new_cemail_error" class="error"
                                                              style="color:red; font-size: 12px;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="div6" style="display:none">
                        <div class=" portlet light bordered"
                             style="height: 140px !important;">
                            <div class="portlet-body">
                                <div class="row" style="margin-top: -15px;!important">
                                    <div class="col-xs-12">
                                        <br>

                                        <div class="col-xs-10">
                                            <label class="bold">Consumer Details :</label>
                                        </div>
                                        <div class="col-xs-1">
                                            <a style="text-align:left;" href="/cti-crm/">Back</a>
                                        </div>
                                        <div id="save_btn" class="col-xs-1">
                                            <a style="text-align:right;"
                                               onclick="save_new_consumer();">Save</a>
                                        </div>
                                        <br>
                                        <br>

                                        <div class="col-xs-3">
                                            <div class="form-group form-xs-line-input has-success"
                                                 style="margin-top: -20px;">
                                                <label for="bill_city">City<span class="required"> *</span></label>
                                                <select id="new_city"
                                                        class="form-control input-sm select2-multiple">
                                                    <option value=" "> Select City</option>
                                                    {% for city in city_list %}
                                                        <option value="{{ city.city_id }}"> {{ city.city }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <label id="new_city_error" class="error"
                                                       style="color:red; font-size: 12px;"></label>
                                            </div>
                                        </div>

                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class="form-group form-xs-line-input has-success">
                                                    <input id="new_cname" type="text" class="form-control">
                                                    <label>Consumer Name :</label>
                                                </div>
                                                <label id="new_cname_error" class="error"
                                                       style="color:red; font-size: 12px;"></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class="form-group form-xs-line-input has-success">
                                                    <input id="new_cmobile_no" type="text"
                                                           class="form-control">
                                                    <label>Mobile No. :</label>
                                                </div>
                                                <label id="new_cmobile_no_error" class="error"
                                                       style="color:red; font-size: 12px;"></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <div class="form-group form-xs-line-input has-success">
                                                    <input id="new_cemail_id" type="text"
                                                           class="form-control">
                                                    <label>Email :</label>
                                                </div>
                                                <label id="new_cemail_error" class="error"
                                                       style="color:red; font-size: 12px;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="div5" style="display:none">
                        <div class="col-xs-offset-3 portlet light bordered"
                             style="height: 70px !important;width:315px !important;">
                            <div class="portlet-body">
                                <div class="row" style="margin-top: -15px;!important">
                                    <div class="col-xs-12">
                                        <br>

                                        <div class="col-xs-12">
                                            <label class="bold">Unregistered Consumer ? </label>
                                            <a style="text-align:right;" onclick="unregistered_consumer();">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="div3" class="col-xs-12 col-xs-12" style="display:none">
                <div class="portlet light ">
                    <div class="row">
                        <a href="/cti-crm/complaints/" class="box-text">
                            <div class="feature-item col-xs-3 text-center">
                                <i class="icon-wallet"></i>

                                <h3>Complaints</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>
                        <a href="/cti-crm/services/" class="box-text">
                            <div class="feature-item col-xs-3 text-center">
                                <i class="icon-bulb"></i>

                                <h3>Services</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>
                        <a href="/cti-crm/vigilance/" class="box-text">
                            <div class="feature-item col-xs-3 text-center">
                                <i class="icon-user"></i>

                                <h3>Vigilance</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>
                        <a href="/cti-crm/bills/" class="box-text">
                            <div class="feature-item col-xs-3 text-center">
                                <i class="icon-layers"></i>

                                <h3>Bill</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div id="div4" class="col-xs-12 col-xs-12" style="display:none">
                <div class="portlet light ">
                    <div class="row">
                        <a href="/cti-crm/services/" class="box-text">
                            <div class="feature-item col-xs-offset-3 col-xs-3 text-center">
                                <i class="icon-bulb"></i>

                                <h3>Services</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>
                        <a href="/cti-crm/vigilance/" class="box-text">
                            <div class="feature-item col-xs-3 text-center">
                                <i class="icon-user"></i>

                                <h3>Vigilance</h3>

                                <div class="desc">
                                    <p>Pay bill instantly in simple steps, anywhere.</p>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>


<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/layouts/layout3/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout3/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script>

    $("#verify_city").select2();

    function registered_consumer() {
        $("#div11").css('display', 'none');
        $("#div5").css('display', 'none');
        $("#div4").css('display', 'none');
        $("#div6").css('display', 'none');
        $("#div1").css('display', 'block');
    }

    function new_consumer() {
        $("#div11").css('display', 'none');
        $("#div5").css('display', 'none');
        $("#div4").css('display', 'none');
        $("#div6").css('display', 'block');
        $("#div1").css('display', 'none');
    }

    function unregistered_consumer() {
        $("#div1").css('display', 'none');
        $("#div5").css('display', 'none');
        $("#div4").css('display', 'block');
        $("#div6").css('display', 'block');
    }

    function save_new_consumer() {
        if (validate_new_consumer_data()) {
            event.preventDefault();

            var formData = new FormData();
            formData.append("city", $("#new_city").val());
            formData.append("name", $("#new_cname").val());
            formData.append("email", $("#new_cemail_id").val());
            formData.append("contact_no", $("#new_cmobile_no").val());

            $.ajax({
                type: "POST",
                url: '/cti-crm/save-new-consumer/',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,

                success: function (response) {
                    if (response.success == 'true') {

                        $("#new_city").attr("readonly", "readonly");
                        $("#new_cname").attr("readonly", "readonly");
                        $("#new_cemail_id").attr("readonly", "readonly");
                        $("#new_cmobile_no").attr("readonly", "readonly");
                        $("#save_btn").attr("hidden", "hidden");
                        $("#div4").css('display', 'block');
                        
                    }
                    if (response.success == "false") {
                        //$("#div5").css('display','block');
                    }
                },
                beforeSend: function () {
                    $("#processing").css('display', 'block');
                },
                complete: function () {
                    $("#processing").css('display', 'none');
                },
                error: function (response) {
                    alert("_Error");
                }
            });
        }
    }

    function validate_new_consumer_data() {
        if (CheckNewCity("#new_city") & CheckConsumerName("#new_cname") & CheckConsumerContactNo("#new_cmobile_no") & CheckConsumerEmail("#new_cemail_id")) {
            return true
        }
        return false
    }
    function CheckNewCity(new_city) {
        if ($(new_city).val() != ' ' && $(new_city).val() != null) {
            $(new_city_error).css("display", "none");
            return true;
        } else {
            $(new_city_error).css("display", "block");
            $(new_city_error).text("Please select City");
            return false;
        }
    }
    function CheckConsumerName(new_cname) {
        consumer_name = $(new_cname).val()
        var Pattern = /[A-Za-z]+/;

        if (Pattern.test(consumer_name)) {
            $(new_cname_error).css("display", "none");
            return true;
        }
        else {
            $(new_cname_error).css("display", "block");
            $(new_cname_error).text("Please enter valid Consumer Name");
            return false;
        }
    }
    function CheckConsumerContactNo(new_cmobile_no) {
        mobile = $(new_cmobile_no).val()
        var phoneNumberPattern = /^[789]\d{9}$/;
        if (phoneNumberPattern.test(mobile)) {
            $(new_cmobile_no_error).css("display", "none");
            return true;
        } else {
            $(new_cmobile_no_error).css("display", "block");
            $(new_cmobile_no_error).text("Please enter valid Mobile No");
            return false;
        }
    }

    function CheckConsumerEmail(new_cemail_id) {
        Email = $(new_cemail_id).val()

        var namePattern = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/;
        if (Email == '') {
            $(new_cemail_error).css("display", "none");
            return true;
        }
        else if (namePattern.test(Email)) {
            $(new_cemail_error).css("display", "none");
            return true;
        }
        else {
            $(new_cemail_error).css("display", "block");
            $(new_cemail_error).text("Please enter valid email");
            return false;
        }
    }

    function verify_consumer() {
        if (validate_verify()) {
            event.preventDefault();

            var formData = new FormData();
            formData.append("city_id", $("#verify_city").val());
            formData.append("consumer_no", $("#verify_consumer_no").val());

            $.ajax({
                type: "POST",
                url: '/cti-crm/verify-new-consumer/',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,

                success: function (response) {
                    if (response.success == 'true') {
                        $("#c_no").val(response.consumer_no);
                        $("#c_name").val(response.consumer_name);
                        $("#c_mobile_no").val(response.mobile_number);
                        $("#c_email").val(response.email_id);

                        $("#div1").css('display', 'none');
                        $("#div5").css('display', 'none');
                        $("#div2").css('display', 'block');
                        $("#div3").css('display', 'block');

                    }
                    if (response.success == "false") {
                        //$(verify_consumer_no_error).css("display", "block");
                        //$(verify_consumer_no_error).text("Consumer Number does not exit");
                        $("#div5").css('display', 'block');
                        //$("#div4").css('display','block');
                    }
                },
                beforeSend: function () {
                    $("#processing").css('display', 'block');
                },
                complete: function () {
                    $("#processing").css('display', 'none');
                },
                error: function (response) {
                    alert("_Error");
                }
            });
        }
    }

    function validate_verify() {
        if (CheckCity("#verify_city") & CheckConsumerNo("#verify_consumer_no")) {
            return true
        }
        return false
    }
    function CheckCity(city) {
        if ($(city).val() != ' ' && $(city).val() != null) {
            $(verify_city).parent().children('.error').css("display", "none");
            return true;
        } else {
            $(verify_city).parent().children('.error').css("display", "block");
            $(verify_city).parent().children('.error').text("Please select City");
            return false;
        }
    }
    function CheckConsumerNo(consumer_no) {
        consumer_no = $(consumer_no).val()
        var Pattern = /^[a-zA-Z0-9!@#$%^&*]{12}$/;

        if (Pattern.test(consumer_no)) {
            $(verify_consumer_no_error).css("display", "none");
            return true;
        }
        else {
            $(verify_consumer_no_error).css("display", "block");
            $(verify_consumer_no_error).text("Please enter valid Consumer No");
            return false;
        }
    }

</script>
</body>

</html>